<!DOCTYPE html>
<html>

<head>
	<title>我的第一个 HTML 页面</title>
	<script src="./javascripts/jQuery/jquery-2.2.3.min.js"></script>
	<script src="./javascripts/ajax.js"></script>
</head>

<body>
	<h1>Express的Ajax测试</h1>
	<p>status</p>
</body>

</html>
